h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
    y: 20px;
    margin-top: 140px;
}
.footer {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}
.description {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    y: 20px;
}

.top {
    border-radius: 14px;
    background: linear-gradient(279deg, #8EAAFF 45.19%, #8094B9 68.03%, #366770 83.3%);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    height: 40vh;
    padding-top: 40px;
}
.bookmarklet {
    display: block;
    width: 200px;
    height: 50px;
    margin: 20px auto;
    background-color: #67a2b1;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
